{% extends "index.html" %}
{% load bootstrap %}

{% block title %} Metin2 Kai - Recuperar password {% endblock %}

{% block galeria %}
  
{% endblock %}

{% block contenido %}
<div class="personalizado" id="content">
  <div class="oscuro">
    {% if if_form %}
    <p>Diligencia el formulario</p> 
    {% if key %}
        <p> Mensaje: <strong>{{ key }}</strong> </p>
    {% endif %}   
      <form action="" method="POST" class="form-horizontal metin">
      {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    {% else %}
      {% if key %}
        <p> Mensaje: <strong>{{ key }}</strong> </p>
      {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}