{% extends "index.html" %}
{% load bootstrap %}


{% block title %} Metin2 Kai - Cambio de password {% endblock %}

{% block galeria %}
	
{% endblock %}

{% block contenido %} 
<div class="personalizado" id="content">
	<div class="oscuro">
		{% block pure %}
		<h3 class="metin"> Cambio de password </h3>
		<p class="metin">Diligencia el formulario </p> 
			<form action="" method="POST" class="form-horizontal metin">
			{% csrf_token %}
		    {{ form|bootstrap_horizontal }}
		    <div class="form-group">
		      <button type="submit" class="btn btn-primary">Enviar</button>
		    </div>
			</form>
		{% endblock %}
	</div>
</div>
{% endblock %}
