{% extends "index.html" %}
{% load bootstrap %}

{% block galeria %}
  
{% endblock %}

{% block contenido %}
<div class="personalizado" id="content">
  <div class="oscuro">
  <h3 class="metin">Restablecer Password</h3>
  <p class="metin">Usa el siguiente formulario para recuperar tu password</p>
  {% if key %}
  <p>Mensaje: <strong> {{ key }} </strong> </p>
  {% endif %}  
  <form action="" method="POST" class="form-horizontal metin">
      {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
</div>
</div>
{% endblock %}