{% extends "index.html" %}
{% load bootstrap %}


{% block title %} Metin2 Kai - Bye {% endblock %}

{% block galeria %}
	
{% endblock %}

{% block contenido %} 
<div class="personalizado" id="content">
	<div class="oscuro">
	<h3 class="metin"> Logout </h3>

	{% if datos.real_name %}
	<p class="metin">el usuario {{ datos.real_name }} </p>
	{% else %}
	<p class="metin">el usuario {{ datos.login }} </p>
	{% endif %}
	<p class="metin"> se ha desconectado de forma correcta. </p>
	<p><a class="metin" href="{% url 'account:login' %}"> Login </a></p>
	</div>
</div>
{% endblock %}